.AppFooter {
  position: relative;
  z-index: 10;
  padding: 3rem 4rem;
  color: rgba(0, 0, 0, 0.4);
  background-color: #fafafa;
}

.AppFooter p {
  margin: 0;
  font-size: 0.75rem;
  text-align: center;
}
