.AppHeader {
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 3rem 4rem;
  color: #fff;
  background-color: #212121;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.AppHeader-main {
  flex: 1;
  margin-right: 4rem;
}

.AppHeader-home {
  overflow: visible;
  margin: -1rem -2rem;
  padding: 1rem 2rem;
}

.AppHeader-home .Ripple-ripple {
  width: 24rem !important;
  height: 24rem !important;
}

.AppHeader-logo {
  position: relative;
  margin: 0;
  font-family: "Roboto Slab", "Roboto", "Noto Sans CJK SC", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.AppHeader-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2rem;
  border-bottom: 4px solid;
}

.AppHeader-side {
  display: flex;
  align-items: center;
  margin: 0 -0.5rem;
}

.AppHeader-sideItem {
  margin: 0 0.5rem;
}

.AppHeader-search {
  display: block;
}
