.BangumiItem {
  display: flex;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #f5f5f5;
}

.BangumiItem .Ripple-ripple {
  max-width: 16rem;
  max-height: 16rem;
}

.BangumiItem-cover {
  width: 4rem;
  height: 4rem;
  border-radius: 2px 0 0 2px;
  background-color: #eee;
}

.BangumiItem-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.BangumiItem-title {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

.BangumiItem-credit {
  margin: 0;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.4);
}
