.EmptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 30rem;
  padding: 4rem;
}

.EmptyState-status {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.4);
}
