.LanguageSwitcher {
  display: block !important;
  font-size: inherit !important;
  font-weight: 400 !important;
}

.LanguageSwitcher-layout {
  display: flex;
  align-items: center;
}

.LanguageSwitcher-icon {
  width: 1rem !important;
  height: 1rem !important;
  margin-right: 0.25rem;
}

.LanguageSwitcher-list {
  width: 15rem;
}

.LanguageSwitcher-item {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
