/*
 *        radius: 16
 * circumference: 94.25 ≈ 94.24777960769379 = 2 * radius * π
 *  start offset: 89.54 ≈ 89.5353906273091  = (1 - 0.05) * circumference
 *    end offset: 18.85 ≈ 18.84955592153875 = (1 - 0.8) * circumference
 */

.Loader {
  overflow: hidden;
  display: block;
  width: 2rem;
  height: 2rem;
  color: #3f51b5;
}

.Loader-box {
  display: block;
  width: 100%;
  height: 100%;
  animation: Loader-box 2s linear infinite;
}

@keyframes Loader-box {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.Loader-circle {
  stroke: currentColor;
  stroke-dasharray: 94.25;
  stroke-dashoffset: 89.54;
  fill: none;
  transform-origin: center;
  animation: Loader-circle 4s infinite;
}

@keyframes Loader-circle {
  0.01% {
    stroke-dashoffset: 89.54;
    transform: rotateX(0deg) rotate(0deg);
  }
  12.5% {
    stroke-dashoffset: 18.85;
    transform: rotateX(0deg) rotate(0deg);
  }
  12.51% {
    stroke-dashoffset: 18.85;
    transform: rotateX(180deg) rotate(72deg);
  }
  25% {
    stroke-dashoffset: 89.54;
    transform: rotateX(180deg) rotate(72deg);
  }

  25.01% {
    stroke-dashoffset: 89.54;
    transform: rotateX(0deg) rotate(270deg);
  }
  37.5% {
    stroke-dashoffset: 18.85;
    transform: rotateX(0deg) rotate(270deg);
  }
  37.51% {
    stroke-dashoffset: 18.85;
    transform: rotateX(180deg) rotate(162deg);
  }
  50% {
    stroke-dashoffset: 89.54;
    transform: rotateX(180deg) rotate(162deg);
  }

  50.01% {
    stroke-dashoffset: 89.54;
    transform: rotateX(0deg) rotate(180deg);
  }
  62.5% {
    stroke-dashoffset: 18.85;
    transform: rotateX(0deg) rotate(180deg);
  }
  62.51% {
    stroke-dashoffset: 18.85;
    transform: rotateX(180deg) rotate(252deg);
  }
  75% {
    stroke-dashoffset: 89.54;
    transform: rotateX(180deg) rotate(252deg);
  }

  75.01% {
    stroke-dashoffset: 89.54;
    transform: rotateX(0deg) rotate(90deg);
  }
  87.5% {
    stroke-dashoffset: 18.85;
    transform: rotateX(0deg) rotate(90deg);
  }
  87.51% {
    stroke-dashoffset: 18.85;
    transform: rotateX(180deg) rotate(342deg);
  }
  100% {
    stroke-dashoffset: 89.54;
    transform: rotateX(180deg) rotate(342deg);
  }
}
