.Paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Paginator-button {
  color: rgba(0, 0, 0, 0.6);
}

.Paginator-text {
  padding: 0 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
