.Paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.Paginator-button {
  min-width: auto !important;
}

.Paginator-text {
  padding: 0 1rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}
