.SearchBar {
  display: flex;
  align-items: flex-start;
  padding: 2rem 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  background-clip: padding-box;
}

.SearchBar-button {
  width: 6rem;
  margin-left: 1rem;
  line-height: 1.5rem;
}
