.SectionTitle {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.SectionTitle-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.SectionTitle-title {
  flex: 1;
  height: 3rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 3rem;
}

.SectionTitle-actions {
  color: rgba(0, 0, 0, 0.4);
}
