.TagItem {
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  font-size: 0.875rem;
  color: #3f51b5;
  background-color: rgba(63, 83, 181, 0.1);
}

.TagItem .Ripple-ripple {
  max-width: 8rem;
  max-height: 8rem;
}
