.TorrentItem {
  display: block;
  padding: 0.75rem 4rem;
  color: rgba(0, 0, 0, 0.8);
  transition: background-color 250ms;
}

.TorrentItem:hover,
.TorrentItem:active,
.TorrentItem:focus {
  background-color: rgba(0, 0, 0, 0.025);
}

.TorrentItem .Ripple-ripple {
  max-width: 16rem;
  max-height: 16rem;
}

.TorrentItem-title {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

.TorrentItem-info {
  display: flex;
  margin: 0 -0.5rem;
}

.TorrentItem-meta {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  color: rgba(0, 0, 0, 0.4);
}

.TorrentItem-metaIcon {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.25rem;
  opacity: 0.6;
}

.TorrentItem-metaText {
  font-size: 0.75rem;
}

.TorrentItem-metaName {
  position: absolute;
  left: -9999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
