.TorrentItem {
  display: block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #3f51b5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.TorrentItem:hover,
.TorrentItem:active {
  background-color: rgba(63, 81, 181, 0.05);
}

.TorrentItem-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #1a237e;
}

.TorrentItem-info {
  display: flex;
  margin: 0 -0.5rem;
}

.TorrentItem-meta {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  color: #7986cb;
}

.TorrentItem-metaIcon {
  width: 0.75rem !important;
  height: 0.75rem !important;
  margin-right: 0.25rem;
  opacity: 0.6;
}

.TorrentItem-metaText {
  font-size: 0.75rem;
}

.TorrentItem-metaName {
  position: absolute;
  left: -9999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
