.TorrentInfo-header {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.TorrentInfo-headerMain {
  flex: 1;
  overflow: hidden;
}

.TorrentInfo-headerSide {
  margin-left: 2rem;
}

.TorrentInfo-tags {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.TorrentInfo-tagDivider {
  display: block;
  height: 1rem;
  margin: 0 0.75rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.TorrentInfo-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.TorrentInfo-meta {
  margin-top: 0.25rem;
}

.TorrentInfo-downloads {
  display: flex;
  align-items: center;
  margin: 0 -0.5rem;
}

.TorrentInfo-download {
  margin: 0 0.5rem;
}

.TorrentInfo-downloadIcon {
  margin-right: 0.4rem;
}

.TorrentInfo-content {
  overflow: auto;
  max-height: 15rem;
  padding: 1rem 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  background-clip: padding-box;
}

.TorrentInfo-introduction {
  overflow: hidden;
  padding: 0 4rem;
}
