.TorrentInfo-header {
  padding: 2rem 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.TorrentInfo-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.TorrentInfo-introduction {
  overflow: hidden;
  padding: 0 4rem;
}

.TorrentInfo-introduction .RichText {
  margin: 2rem 0;
}
