.TorrentItem {
  display: block;
  padding: 0.75rem 4rem;
  color: rgba(0, 0, 0, 0.8);
  transition: background-color 250ms;
}

.TorrentItem:hover,
.TorrentItem:active {
  background-color: rgba(0, 0, 0, 0.025);
}

.TorrentItem .Ripple-ripple {
  max-width: 16rem;
  max-height: 16rem;
}

.TorrentItem-title {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}
