.App {
  overflow: hidden;
}

@media (max-width: 1280px) {
  .App-layout {
    margin: 0 -2rem;
  }
}

@media (max-width: 960px) {
  .App-layout {
    margin: 0 -3rem;
  }
}

.App-content {
  min-height: 100vh;
}
